/* Coolors Exported Palette - coolors.co/07020d-30bced-fca311-69dc9e-ffffff */

/* RGB */
$color1: rgba(7, 2, 13, 1);
$color2: rgba(48, 188, 237, 1);
$color3: rgba(252, 163, 17, 1);
$color4: rgba(105, 220, 158, 1);
$color5: rgba(255, 255, 255, 1);
